<div class="wants-container">
  
      {{!-- <form method="POST" action="/splash/books/add-book-wants/search" class="formWants"></form>
        <div class="search">
            <input type="text" name="title" class="searchTerm" placeholder="What book would you like? " >
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
          </button>
        </div>
      </form> --}}
      <form method="POST" action="/splash/books/add-book-got/search">

  <div class="field" >
    <label>Title</label>
    <input type="text" name="title"/>
  </div>

  <div class="field submit">
    <button type="submit">Search</button>
  </div>
</form>
  <section class="results-wants">
    {{#each results}}
        <img src="{{this.thumbnail}}" alt="">
        <p>{{this.title}}</p>
        <p>{{this.industryIdentifiers.1.identifier}}</p>
        <p>{{this.authors}}</p>
        <form method="POST" action="/splash/books/add-book-wants/new">
            <input type="text" name="title" value="{{this.title}}"/>
            <input type="text" name="image" value="{{this.thumbnail}}"/>
            <input type="text" name="ISBN" value="{{this.industryIdentifiers.1.identifier}}"/>
            <input type="text" name="authors" value="{{this.authors}}"/>
            <div>
                <button type="submit">Add to Wants</button>
            </div>
          </form>
    {{/each}}
  </section>
</div>
