
<div class="detail-container">
  <img src="{{book.image}}" alt="Book image" class="detail-img-book">
  <h1>{{book.title}}</h1>
  <h5>{{book.ISBN}}</h5>
  {{#each book.authors}}
    <ul>
      <li>{{this}}</li>
    </ul>
  {{/each}}
  <form method="POST" action="/splash/books/{{book._id}}/delete">
      <div>
        <button type="submit"><img src="/images/books-delete.png" class="books-img-delete" /></button>
      </div>
  </form> 
</div>
