
<div class="detail-container">
  <h1>{{book.title}}</h1>
 
  <img src="{{book.image}}" alt="Book image" class="detail-img-book">
   <div class="detail-info">
     <div>
        <p><span>Subtitle:</span> {{book.subtitle}}</p>
    </div>
     <div>
        <hp><span>ISBN:</span> {{book.ISBN}}</hp>
      </div>
      <div>
        {{#each book.authors}}
            <p><span>Author:</span> {{this}}</p>
        {{/each}}
      </div>
      <div>
        <p><span>Language:</span> {{book.language}}</p>
      </div>
   </div>
  
  <div class="detail-description">
        <h5>Description</h5>
        <p>{{book.description}}</p>
  </div>
  <div class="detail-delete-book">
  <form method="POST" action="/splash/books/{{book._id}}/delete" >
    <button type="submit">DELETE</button>
  </form> 
  </div>
</div>

 
