
<div class="detail-container">
  <h1>{{book.title}}</h1>
 
  <img src="{{book.image}}" alt="Book image" class="detail-img-book">
   <div class="detail-info">
     <div>
        <h2><span>Subtitle:</span> {{book.subtitle}}</h2>
    </div>
     <div>
        <h5><span>ISBN:</span> {{book.ISBN}}</h5>
      </div>
      <div>
        {{#each book.authors}}
          <ul>
            <li><span>Author:</span> {{this}}</li>
          </ul>
        {{/each}}
      </div>
      <div>
        <h5><span>Language:</span> {{book.language}}</h5>
      </div>
   </div>
  <form method="POST" action="/splash/books/{{book._id}}/delete">
      <div>
        <button type="submit"><img src="/images/books-delete.png" class="books-img-delete" /></button>
      </div>
  </form> 
  <div class="detail-description">
        <h5><span>Description:</span> {{book.description}}</h5>
  </div>
</div>
 
