<div class="matches-container"></div>
    <h1>Matches</h1> 

    <p>{{bookMatch.title}}</p>
    <img src="{{bookMatch.image}}" alt="Book image">
    {{!-- <p>{{userMatch}}</p> --}}

    {{#each userMatch}}
    

        <p>{{this.username}}</p>
        <p>{{this.email}}</p>
        
    {{/each}}
    {{#each user.match}}
    

        <p>{{this.otherBookId}}</p>
       
        
    {{/each}}
</div>

