<div class="matches-container"></div>
    <h1>Matches</h1> 

    {{#each testArray}}

        <p>{{this.bookMatch.title}}</p>
        <img src="{{this.bookMatch.image}}" alt="Book image">
        <p>{{this.bookId.title}}</p>
        <img src="{{this.bookId.image}}" alt="Book image">
        <p>{{this.userMatch.username}}</p>
        <p>{{this.userMatch.email}}</p>

    {{/each}}
    
</div>

