<div class="matches-container"></div>
    <h1>Matches</h1> 


    {{!-- {{#each bookMatch}}
        <p>{{this.title}}</p>
        <img src="{{this.image}}" alt="Book image">
    {{/each}}

    {{#each bookId}}
        <p>{{this.title}}</p>
        <img src="{{this.image}}" alt="">
    {{/each}} --}}

    {{!-- {{#each user.match}}
        <p>{{this.otherUserId}}</p>
        <p>{{this.bookId}}</p>
        <p>{{this.otherBookId}}</p>
    {{/each}} --}}

    {{#each userMatch}}
    <ul>
        <li>{{this.username}}</li>
        <li>{{this.email}}</li>
    </ul>
    {{/each}}
    
</div>

