<div class="matches-container">
    <div class="matches-title">
        <h1>Matches</h1> 
    </div>

    <div class="results-matches">
    {{#each testArray}}

        <div class="container-match">
    
            <section class="wrap-match">

                <article class="wrap-image">
                    <h4>{{this.bookMatch.title}}</h4>
                    <img src="{{this.bookMatch.image}}" alt="Book image">
                </article>

                <article class="wrap-image">  
                    <h4>{{this.bookId.title}}</h4>
                    <img src="{{this.bookId.image}}" alt="Book image">
                </article>

            </section>

            <article class="wrap-user"> 
                <p>Match with: {{this.userMatch.username}}</p>
                <p>Email: 
                    <a href="mailto:{{this.userMatch.email}}?Subject=Trype%20swap%20books" target="_top">{{this.userMatch.email}}</a>
                </p>
                
            </article>

        </div>

    {{/each}}
    </div>

</div>

